.data{
  padding: 1em;
  margin:auto;
  text-align: center;
  border-radius: 2em;
  border: 2px solid rgb(230, 159, 132);
  line-height: 2em;
  margin-top: 2em;
  width: 30em;
  background: #7be4c1;
}
.data:hover{
  box-shadow: 1px 1px 5px 5px goldenrod;
}
body{
  color: rgb(122, 133, 31);
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input[type="text"],input[type="password"],input[type="email"],input[type="number"]{
  overflow: hidden;
  color: rgb(128, 128, 128);
  font-size: larger;
  padding-left: 2em;
  width: 15em;
  height: 2em;
  background: none;
  border: 2px solid rgb(175, 151, 151);
  border-radius: 15em;
  transition: .5s;
}
input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus,input[type="number"]:focus{
  width: 18em;
  outline: none;
  border-color: rgb(52, 134, 52);
}
input::placeholder{
  color: rgb(155, 155, 146);
}
#logbtn{
  color: ivory;
  font-weight: bolder;
  background-color: rgb(125, 179, 111);
  border-color: rgb(58, 233, 58);
  margin-top: 10px;
  width: 10em;
  border-radius: 15em;
  transition: .5s;
  outline: none;
}
#logbtn:hover{
  outline: none;
  width: 12em;
  background-color: rgb(92, 177, 142);
}
label{
  text-transform: uppercase;
  font-weight: bolder;
  transition: 0.5s;
}
h2{
  color: rgb(182, 149, 59);
}
label:hover, h2:hover{
  color: rgb(9, 10, 9);
}
